.nav-btn{
    margin-top: 2rem;
}
.nav-btn button{
    width: 13rem;
    height: 3rem;
    border: 1px solid #dcd5d5;
    outline: none;
    border-radius: 0;
    background-color: #e4e4ec;
    color: #0c0c0c;
    margin-bottom: 2rem;
    justify-content: center;
}
#btn-active{
    background-color: #6060de;
    color: white;
}

@media only screen and  (max-width:670px){
    #inp-grp{
        width: 15rem;
    }
    .nav-btn{
        display: flex;
        flex-wrap: wrap;
    }
    #search-container{
        width: 15rem;
    }
    #card-wrapper{
        width: auto;
    }
}
